@keyframes expand-out {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.skill-bar {
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  width: 0;
}

.loaded .skill-bar {
  width: 100%;
}
